<%-include("header")-%>

<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">You can add new item here!</h1>
  <p class="lead">
    Fill the given form to add new entry.
  </p>
</main>
</body>


<!-- alert -->
<%if(typeof alert!= "undefined"){%>
  <%alert.forEach(function(error){%>
<div style ="margin-left:97px; width : 60%"class="alert alert-warning alert-dismissible" role="alert">
    <strong>Oops! </strong><%=error.msg%>
    <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->

    <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>  -->
</div>
<%})%>
<%}%>

<form class="form" action="/create" method="post">
  <div class="form-group">
    <label >Title</label>
    <input
      type="text"
      name="listTitle"
      value=""
      autocomplete="off"
      placeholder="Enter title"
      class="form-control" id="exampleFormControlInput1"
    />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea name="listDesc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  <div class="form-group">
    <label >Select status</label>
    <select name = "listStatus" class="form-control" id="exampleFormControlSelect1" placeholder="Enter status">
      <option>Not started</option>
      <option>In progress</option>
      <option>Done</option>
    </select>
  </div>
  <button placeholder="Enter description" type="submit" name="button" class="submitButton btn btn-outline-secondary">Submit</button>
</form>

<%-include("footer")-%>